*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    font-size: 30px;
    color: aquamarine;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p{
    background: linear-gradient(170deg,aqua 10%, rgb(151, 12, 151) 85%);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}